.container {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
}

.lessonScheduleContainer {
  width: 80%;
  height: 100%;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 20%;
  height: 100%;
}