:root {
  height: 100vh;
  width: 100vw;

  font-family: "Geologica", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px; 

  --background-color: #ffffff;
  --secondary-background-color: #eceae5;
  --notifications-color: #f1f0ec;
  --additional-color: #8b6056;
  --text-color: #161617;

  color-scheme: light;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
}