.carouselContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;

  width: 20%;
  height: 100%;

  overflow: hidden;
}

.carouselItem {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  
  transition: transform 0.5s ease;
  transform: translateY(100%);
}

.carouselItem.active {
  transform: translateY(0);
}

.carouselItem.animate {
  transform: translateY(100%);
}

.notificationContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--notifications-color);

  border-radius: 1rem;

  margin: 1.5rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  gap: 0.5rem;
}


.notificationTitle {
  font-size: 1rem;
  font-weight: 600;
}

.notificationDescription {
  font-size: 0.9rem;
  font-weight: 400;
}